### 1.Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
    Add ‘mango to the above list
    Also add banana, grapes & orange in the list 
    insert apple in the 5th position of a variable ‘a’
    Remove last item from the list

In [12]:
a=[2,3,4,5,6,7]
a.append('mango')
a.extend(['banana','grapes','orange'])
a.insert(4,'apple')
a.pop()     ## remove and return the last item from the list

print(a)

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

### 2.L = [1,2,3,4,5,6,7]
      Using the above list slice from 1:4

In [14]:
L=[1,2,3,4,5,6,7]
## sequence[start:stop:step]
subset=L[1:4]
print(subset)

[2, 3, 4]

### 3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [22]:
L=[4,5,6,8,3]
l_reversed=L[::-1]  ## this way L will not change 

print(l_reversed)

[3, 8, 6, 5, 4]

In [25]:
for i in range(len(L) // 2):  ## to modify 'L'
    j = len(L) - i - 1
    L[i], L[j] = L[j], L[i]

print(L)

[3, 8, 6, 5, 4]

### 4.Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [27]:
L=[2,4,7,3,6,8]
[i**2 for i in L]

[4, 16, 49, 9, 36, 64]

### 5.Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [28]:
def sum_tup(t):
    return sum(t)


tup=(-2,-1,0,1,2) ## testing
print(sum_tup(tup))

0

### 6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [31]:
set1={'apple','banana','kiwi'}
set2={'orange','mango','papaya'}
combined_set=set1.union(set2)
print(combined_set)

{'papaya', 'kiwi', 'orange', 'mango', 'apple', 'banana'}

### 7.Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [33]:
set1={'home','end','pgup','prtsc'}
set1.add('shift')
print(set1)

{'pgup', 'end', 'shift', 'home', 'prtsc'}

### 8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console

In [34]:
animals={'dogs','cows','cats','tiger','elephant','deer'}
animals.remove('dogs')
print(animals)

{'cows', 'deer', 'elephant', 'tiger', 'cats'}

### 9.favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
      favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
      Use the zip() function to combine the book set and movie list into a list of tuples  representing book/ movie pairs.
      Print the resulting list

In [37]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
book_movie_pair=list(zip(favorite_books,favorite_movies))
print(book_movie_pair)

[('1984', 'The Shawshank Redemption'), ('Pride and Prejudice', 'The Godfather'), ('To Kill a Mockingbird', 'The Dark Knight')]

### 10.Write a Python program to find the difference between consecutive numbers in a list.

In [38]:
def find_diff(lst):
    diffs=[]
    for i in range(1,len(lst)):
        diff=lst[i]-lst[i-1]
        diffs.append(diff)
    return diffs

## testing
lst=[8,4,2,6,5]
diffs=find_diff(lst)
print(diffs)

[-4, -2, 4, -1]